{

    "KEYS": {
        "API": "KWBROTGGRGyUVPckdEUzJmW8VLZNKdCX7WwGkH8U6It4mBnjAQ3wYIpiisSlf1SD",
        "SECRET": "kSFdDHmeuhAedNZjnmI7unUwaQDjZqjoVi5LHleQm2XKmE4aqpOU8a1CN2EoEIjA"
    },

    "INVESTMENT": {
        "BTC": {
            "MIN": 0.000014,
            "MAX": 0.000071,
            "STEP": 0.0000071
        }
    },

    "SCANNING": {
        "DEPTH": 50,
        "WHITELIST": [BTC, ETH, ADA, DOGE, MAVIC]
    },

    "EXECUTION": {
        "ENABLED": false,
        "CAP": 1,
        "STRATEGY": "linear",
        "TEMPLATE": ["BUY", "SELL", "SELL"],
        "FEE": 0.075,
        "THRESHOLD": {
            "PROFIT": 0.30,
            "AGE": 25
        }
    },

    "HUD": {
        "ENABLED": true,
        "ROWS": 10,
        "REFRESH_RATE": 500
    },

    "LOG": {
        "LEVEL": "debug",
        "PRETTY_PRINT": true,
        "STATUS_UPDATE_INTERVAL": 2
    },

    "WEBSOCKET": {
        "BUNDLE_SIZE": 1,
        "INITIALIZATION_INTERVAL": 200
    },

    "BINANCE_OPTIONS": {}

}
